---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar />
  <h1 class="min-h-screen min-w-full text-4xl flex justify-center items-center">
    Hello World
  </h1>
</Layout>
<style></style>
