---

---

<!-- Navbar -->
<nav
  class="max-w-6xl mx-auto p-3 flex wrap justify-between items-center align-middle"
>
  <!-- Logo -->
  <ul>
    <li>
      <a href="/"
        ><img
          class="size-8"
          src="/code-solid.svg"
          alt="Logo de Desarrollo"
        /></a
      >
    </li>
  </ul>
  <!--  NavLinks -->
  <ul class="flex gap-12">
    <li><a href="/experience" target="_blank">Experience</a></li>
    <li><a href="/proyects" target="_blank">Proyects</a></li>
    <li><a href="/about" target="_blank">About Me</a></li>
    <li><a href="/contact" target="_blank">Contact</a></li>
  </ul>
</nav>
