---
import "@fontsource/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Desarrollador de Software y Programador Web. Especializado en crear soluciones de software de alta calidad y escalables."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/code.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Portfolio de Leonardo Valdez - Desarrollador de Software y Programador Web
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    font-family: "Onest", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
</style>
